.popup-class-success{
    border: 5px solid $secondary-color !important;
    width: 500px !important;
}

.popup-class-error{
    border: 5px solid $alert-color !important;
    width: 500px !important;
}