.prod-related-title {
    text-align: left;
    padding-top: 40px;
}

.product-list {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 0;
}
.product-related {
    box-shadow: 0px 10px 20px #DCD9FA;
    width: 15em;
    min-width: 20em;
    height: auto;
    border-radius: 15px;
    margin: 1.5em;
    overflow: hidden;
    position: relative;
    flex: auto;
    border: 1px solid red($color: #000000);
    img{
        width:100%;
        height: auto;
    }  
  }
  @include mediaLg{
    .product-list{
        flex-direction: column;
        width: 90%;
        align-items: center;

    }
    .product-related{
        width: 38em;
        text-align: center;
    }  
}