@import 'config';
@import 'menu';
@import 'footer';
@import 'category';
@import 'carousel';
@import 'carouselitem';
@import 'productRelated';

a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

body {
    padding: 0;
     margin: 0;
    font-family: 'Raleway', sans-serif;

}
