@import 'config';

a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    background: $primary-color;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    color : white;

&_buttoncar{
    display: flex;
    border: 0;
    border-radius: 22px;
    width: 128px;
    height: 47px;
    cursor: pointer;
    background-color: $secondary-color;
    margin: 15px 10px ;
    color: white;
    align-items: center;
    text-align: center;
    &_car{
        margin: 5px;

    }
    &_precio{
        margin: 10px;

    }
    &_cantidad{
        background: $primary-color;
        width: 19px;
        height: 19px;
        border-radius: 10px;
        text-align: center;
        padding: 2px;

    }

}
&_image{
    background: url();
    display: block;
    flex-grow: 1;
    text-align: left;
}
&_buscar{
    margin: 25px;
    
}

&_ingreso{  
    margin: 25px;
    text-decoration: none;
    outline: none;
    color: white;    

    
}
}
.fa-lg {
    padding-right: 10px;
}
.menu{
    color:white;
    justify-content: center;
    display: flex;

    &_lista{
        text-decoration: none;
        color: $letter-color;
        font-weight: 900;
        padding: 10px;
    }
    
}